

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 9vh 9vh 9vh 2.2em 60vh;
    max-width: 1100px;
    height: 99vh;
    margin: auto;
    background-color: #dddddd;
    background-position: center;
    background-size: cover;
    padding: 1vmax;
    border-radius: 1vmax;
}

.grid-item {
    padding: 0px;
    border: 0;
}

.unselectable {
    user-select: none;
}



.titletext {
    grid-column: 1 / 13;
    grid-row: 1;
    color: white;
    margin: auto;
    font-weight: 900;
    font-size: 5vmax;
    
}

.stationview, .tripview {
    font-size: 2vmax;
    font-weight: bold;
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 2vmax;
}

.stationview {
    grid-column: 2 / 6;
    border: 2px solid black;
}
.tripview {
    grid-column: 8 / 12;
}
    .departure_dropdown, .return_dropdown {
   
    text-align: left;
    font-size: 1.3rem;
    cursor: pointer;
    border: 3px solid gray;
    border-radius: 10px;
    font-weight: bold;
}

.searchstation {
    grid-column: 1/13;
    grid-row: 3;
    margin-top: auto;
}

.tripviewlabelrow, .labelrow {
    grid-column: 1 / 13;
    grid-row: 4;
    position: relative;
    display: flex;
    font-weight: bold;
    padding-right: 1vw;
  
}

.infoinfo {
    grid-column: 1 / 13;
    grid-row: 3;
    display: flex;
    justify-content: center;
    width: auto;
 
}

#infoboard, #infoboard2, #infoboard3 {
    text-align: left;
    font-size: 1.3rem;
    cursor: pointer;
    border: 3px solid gray;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
}


#infoboard2 {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none
}

.arrow-right-button {
    font-size: 4rem;
    background-color: transparent;
    border: 0;
   
}
.arrow-left-button {
    transform: scaleX(-1);
}


.menu-itemb {
    display: flex;
    align-items: center;
    padding-right: 1vw;
}

.currentdate, .departure_dropdown, .return_dropdown, .duration, .distance {
    top: 0;
    position: absolute;
}

.stationlist, .triplist, .triptime, .map-container, .innercalendar, .closemap {
    grid-column: 1 / 13;
    grid-row: 5;
}

.downloadboard {
    grid-column: 1 / 13;
    grid-row: 3/6;
    position: relative;
    overflow: hidden;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #dddddd;
     
}


#downloadboard {
   
    
    width: 100%;
    height: 100%;
    /* Additional styles for the image if needed */
}


.mapbuttons {
    grid-column: 1 / 13;
    grid-row: 4;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .mapbuttons button, #closemap {
        cursor: pointer;
        line-height: 1.3;
        border: 2px solid gray;
        border-radius: 10px;
        font-size: 1.1rem;
        width: 24%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

#closemap {
    width: 6rem;
    height: 6rem;
    z-index: 100;
    justify-self: end;
}

.flags {
    grid-column: 8 / 13;
    grid-row: 1;
    justify-self: end;

}

.langselect {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.basicobject {
   
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
    border: 3px solid gray;
    border-radius: 10px;
    font-weight: bold;
}


.image {
    width: 100%;
    height: 100%;
    position: relative;
}


#menu-time, #menu, #stat_menu, .labelrow {
    overflow-y: scroll;
    border: 1px solid gray;
    background-color: white;
    border: 3px solid gray;
    font-size: 1.3rem;
    border-radius: 10px;
}

.labelrow {
    overflow-y: hidden;
}


#menu-time {
    width: 140px;
    background-color: transparent;
}
    



#map-container {
    
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid gray;
}

#innercalendar {  
    overflow: scroll;
    background-color: white;
    border: 3px solid gray;
    border-radius: 10px;   
    cursor: pointer;
}


#filterStations {
  
    text-align: left;
    padding: 0.15rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: 3px solid gray;
    background-color: #aaaaaa;
    border-radius: 10px;
}

#distance, #duration {
    border: none;
    cursor: default;
    background-color: #ffffff;
}

#currentdate, #tripview {
    background-color: #ffffff;
}

#cleartext {
    position: absolute;
    padding: 0.5rem;
    font-size: 1.1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #555555
}

#downloadboard {
     
    background-color: none;
}


    button {
        transition: all 0.3s ease;
    }

    button:active {
        transform: scale(0.95);
    }



::-webkit-scrollbar {
    width: 15px;
}


::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }


.menu-item {
    display: flex;
}


.col {
    padding: 4px;
    padding-left: 13px;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

#currentdate {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

#fin, #swe, #eng {
    width: 2.4rem;
    height: 1.8rem;
}
#fin {
    background-image: url('https://storage.googleapis.com/joelvuolevi/bikeapp/fi.svg');
}
#swe {
    background-image: url('https://storage.googleapis.com/joelvuolevi/bikeapp/se.svg');
    opacity: 0.4;
}
#eng {
    background-image: url('https://storage.googleapis.com/joelvuolevi/bikeapp/gb.svg');
    opacity: 0.4;
}



#cleartext, #distance, #duration, #closemap, .statdetails, #currentdate, #stationtitle {
    overflow: hidden;
    transition: none;
}



@media screen and (max-width: 900px) and (min-width: 690px) {
    #infoboard, #infoboard2, #infoboard3 {
        font-size: 1.1rem;
    }

    .arrow-right-button {
        font-size: 3rem;
    }
}



@media screen and (max-width: 700px) and (min-width: 200px) {
    #infoboard, #infoboard2, #infoboard3 {
  
        font-size: 0.85rem;

    }

    .arrow-right-button {
        font-size: 2rem;
      
    }

}
