
.container {
    max-width: 1200px;
    height: 1200px;
    margin: auto;
    position: relative;
    border: none
}

.image {
    width: 100%;
    height: 100%;
    position: relative;
}

#stationvstrip, #stationvstrip2 {
    text-align: center;
    position: absolute;
    font-size: 1.65rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 30px;
}

#stationvstrip2 {
    background-color: #ffffff;
}


#menu, #stat_menu, #menu-date, #menu-time {
    overflow-y: scroll;
    border: 1px solid gray;
}

#menu, #stat_menu, #menu-date, #menu-time, #menutitle, #menutitleb {
    position: absolute;
    background-color: white;
    border: 3px solid gray;
    font-size: 1.3rem;
    border-radius: 10px;
}


#menu-time {
    background-color: transparent
}


#menutitle, #menutitleb {
    font-weight: bold;
    display: flex;
    font-size: 1.4rem;
    overflow: hidden;
}



#map-container {
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid gray;
}

#innercalendar {
    position: absolute;
    overflow: scroll;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
}


#filterStations {
    position: absolute;
    text-align: left;
    padding: 0.15rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: 3px solid gray;
    background-color: #aaaaaa;
    border-radius: 10px;
}

#departure_dropdown, #return_dropdown, #distance, #cleartext, #duration, #stationtitle, #operator, #capacity {
    position: absolute;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
    border: 3px solid gray;
    border-radius: 10px;
    font-weight: bold;
}





#distance, #duration {
    background-color: #ffffff;
    
}
#downloadboard {
    position: absolute;
    font-size: 2rem;
    background-color: #fefefe;
    border-radius: 10px;
    text-align: center;
}

#infoboard, #infoboard3 {
    position: absolute;
    text-align: left;
    font-size: 1.4rem;
    padding: 0rem 0rem;
    font-weight: bold;
    opacity: 1;
    background-color: #eeeeee;
    
}


button {
    transition: all 0.3s ease;
}

    button:active {
        transform: scale(0.95);
    }



::-webkit-scrollbar {
    width: 15px;
}



::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
.menu-item, .menu-date, .menu-time {
    display: flex;
}

.col, .menu-date, .menu-time {
    width: 20%;
    padding: 4px;
    text-align: left;
    cursor: pointer;
}

.menu-date, .menu-time {
    width: 100%;
 
}

#backgroundgray {
    position: absolute;
    background-color: #eeeeee;
    border-radius: 30px;
}

#closemap, #stationdetailsTo2, #stationdetailsFrom2, #stationdetailsTo, #stationdetailsFrom {
    position: absolute;
    width: 80%;
    cursor: pointer;
    line-height: 1.3;
    border: 3px solid gray;
    border-radius: 10px;
    font-size: 1.1rem;
}

#fin, #swe, #eng {
    position: absolute;
    cursor: pointer;
}


#fin {
    background-image: url('fi.svg');
}
#swe {
    background-image: url('se.svg');
    opacity: 0.4;
}
#eng {
    background-image: url('gb.svg');
    opacity: 0.4;
}

    #currentdate {
    position: absolute;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Calendar_icon_2.svg/141px-Calendar_icon_2.svg.png?20180310071421");
    line-height: 1.3;
    border: 0px solid gray;
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 3rem;
    padding-left: 0rem;
}





#distance, #duration, #closemap, #stationdetailsTo, #stationdetailsFrom, #stationdetailsTo2, #stationdetailsFrom2 {
    transition: all 0.03s ease;
}


#currentdate {
    opacity: 0.4;
    cursor: default;
}
